In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
recovered_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [8]:
confirmed = pd.read_csv(confirmed_url, error_bad_lines=False)
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,4033,4402,4687,4963,5226,5639,6053,6402,6664,7072
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,856,868,872,876,880,898,916,933,946,948
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,5558,5723,5891,6067,6253,6442,6629,6821,7019,7201
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,754,755,755,758,760,761,761,761,761,761
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,43,45,45,45,45,48,48,48,48,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,208,208,208,208,220,235,235,235,235,246
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,34,51,56,65,70,85,106,122,128,130
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,612,612,661,729,801,907,1118,1322,1524,1729
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1

In [10]:
recovered = pd.read_csv(recovered_url, error_bad_lines=False)
recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,502,558,558,610,648,691,745,745,778,801
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,627,650,654,682,688,694,705,714,715,727
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,2546,2678,2841,2998,3058,3158,3271,3409,3507,3625
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,545,550,550,568,576,596,604,615,617,624
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,13,13,13,13,14,14,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,0,0,0,0,0,3,3,3,3,3
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4033,4402,4687,4963,5226,5639,6053,6402,6664,7072
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,856,868,872,876,880,898,916,933,946,948
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,5558,5723,5891,6067,6253,6442,6629,6821,7019,7201
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,754,755,755,758,760,761,761,761,761,761
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,43,45,45,45,45,48,48,48,48,50

In [12]:
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,502,558,558,610,648,691,745,745,778,801
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,627,650,654,682,688,694,705,714,715,727
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2546,2678,2841,2998,3058,3158,3271,3409,3507,3625
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,545,550,550,568,576,596,604,615,617,624
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,13,13,13,13,14,14,17,17,17,17

In [14]:
confirmed.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20',
       '5/15/20', '5/16/20', '5/17/20', '5/18/20'],
      dtype='object', length=122)

In [15]:
recovered.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20',
       '5/15/20', '5/16/20', '5/17/20', '5/18/20'],
      dtype='object', length=122)

In [16]:
confirmed.mean()

Lat           21.148043
Long          22.538640
1/22/20        2.086466
1/23/20        2.458647
1/24/20        3.537594
               ...
5/14/20    16699.860902
5/15/20    17076.492481
5/16/20    17421.308271
5/17/20    17720.375940
5/18/20    18052.417293
Length: 120, dtype: float64

In [17]:
recovered.mean()

Lat          19.801381
Long         28.168223
1/22/20       0.110672
1/23/20       0.118577
1/24/20       0.142292
              ...
5/14/20    6276.256917
5/15/20    6470.620553
5/16/20    6692.478261
5/17/20    6853.608696
5/18/20    7062.747036
Length: 120, dtype: float64

In [18]:
confirmed.std()

Lat            24.909990
Long           70.466256
1/22/20        27.279200
1/23/20        27.377862
1/24/20        34.083035
               ...
5/14/20     93888.724203
5/15/20     95632.495945
5/16/20     97328.503219
5/17/20     98643.732585
5/18/20    100154.627862
Length: 120, dtype: float64

In [19]:
recovered.std()

Lat           24.558602
Long          67.091761
1/22/20        1.760345
1/23/20        1.764332
1/24/20        1.954723
               ...
5/14/20    24376.616616
5/15/20    24890.185509
5/16/20    25878.595276
5/17/20    26283.678121
5/18/20    27060.511688
Length: 120, dtype: float64

In [20]:
confirmed.max()

Lat        7.170690e+01
Long       1.780650e+02
1/22/20    4.440000e+02
1/23/20    4.440000e+02
1/24/20    5.490000e+02
               ...
5/14/20    1.417774e+06
5/15/20    1.442824e+06
5/16/20    1.467820e+06
5/17/20    1.486757e+06
5/18/20    1.508308e+06
Length: 120, dtype: float64

In [21]:
recovered.max()

Lat            71.7069
Long          178.0650
1/22/20        28.0000
1/23/20        28.0000
1/24/20        31.0000
              ...
5/14/20    246414.0000
5/15/20    250747.0000
5/16/20    268376.0000
5/17/20    272265.0000
5/18/20    283178.0000
Length: 120, dtype: float64

In [22]:
confirmed.min()

Lat        -51.7963
Long      -135.0000
1/22/20      0.0000
1/23/20      0.0000
1/24/20      0.0000
             ...
5/14/20      1.0000
5/15/20      1.0000
5/16/20      1.0000
5/17/20      1.0000
5/18/20      1.0000
Length: 120, dtype: float64

In [23]:
recovered.min()

Lat        -51.7963
Long      -106.3468
1/22/20      0.0000
1/23/20      0.0000
1/24/20      0.0000
             ...
5/14/20      0.0000
5/15/20      0.0000
5/16/20      0.0000
5/17/20      0.0000
5/18/20      0.0000
Length: 120, dtype: float64